:root {
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --blue:rgba(33, 150, 243, 1);
    --black:rgba(33, 33, 33, 1);
    --white-gray:rgba(255, 255, 255, 0.6) ;
    --white: rgba(255, 255, 255, 1);
    --gray:rgba(117, 117, 117, 1);
    --black-light:rgba(47, 48, 58, 1);
}
body{
    font-family: var(--primary-font);
    color:var(--black);
}

/* Header Styles */

.header {
    background-color:var(--white);
   
}
.header ul{
    list-style:none;
    text-decoration: none;
}

.header__logo{
    text-decoration: none;
    font-family:var(--secondary-font);
    font-weight: 700;
    font-size:26px;
    line-height: 1.2em;
}

.logo__part {
    color:var(--blue);
}
.header__navigation a {
    color:var(--black);
    font-weight: 500;
    font-size:14px;
    line-height: 1.4em;
}
.header__navigation :hover,
.header__navigation :focus{
    color:var(--blue);
}
.header__contacts a { 
    color:var(--gray);
    font-weight: 500;
    font-size:14px;
    line-height: 1.4em;
}
.header__contacts :hover,
.header__contacts :focus{
    color:var(--blue);
}

/* Main Styles */

/* Hero Section */

.main__hero{
    background-color: var(--black-light);
    width: 1600px;
    height: 600px;
}

.main-hero__title {
    color:var(--white);
    font-weight: 900;
    font-size:44px;
    line-height: 1.2em;
}

.hero__button button {
    cursor: pointer;
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.2em;
}

 .hero__button :hover,
 .hero__button :focus {
    color:var(--white);
    background-color: var(--blue);
}


/*About Section*/

.main__about ul {
    text-decoration: none;
    list-style: none;
}

.main-about__title {
    font-weight: 700;
    font-size:14px;
    line-height: 1.4em;
}

.main-about__text {
    color:var(--gray);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4em;
}


/* What We Do Section */

.main__ocupation ul {
    list-style: none;
    text-decoration: none;
}

.main-ocupation__title {
    font-weight: 700;
    font-size:36px;
    line-height: 1.2em;
} 


/* Our Team Section */

.main-team__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2em;
}

.main-team__subtitle  {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.4em;
}

.main-team__text {
    color:var(--gray);
    font-weight: 400px;
    font-size:16px;
    line-height: 1.4em;
}

/* Footer Styles */
.footer{
    background-color: var(--black-light);
    width: 1600px;
    height: 251px;

}

.footer__title {
    color:var(--white);
    text-decoration: none;
    font-family:var(--secondary-font);
    font-weight: 700;
    font-size:26px;
    line-height: 1.2em;
}

.footer-title__part {
    color:var(--blue);
}

.footer__address ul {
    text-decoration: none;
    list-style: none;
}

.footer__address {
    color:var(--white);
    font-size:14px;
    line-height: 1.4em;
}

.footer__text {
    color:var(--white)
    font-size:14px;
    font-style:normal;
    line-height:1.4em;
}

.footer__contacts a{
    text-decoration: none;
    color:var(--gray);
    font-weight: 400;
    font-style: normal;
    font-size:14px;
    line-height: 1.4em;
}

.footer__contacts li a:hover,
.footer__contacts li a  :focus {
    color:var(--blue);
}


/*Portfolio Section*/

/* Main Styles */

.portfolio-main__buttons ul {
    text-decoration: none;
    list-style: none;
}

.portfolio__nav button {
    font-family: var(--primary-font);
    color:var(--black);
    font-weight: 500;
    font-size:16px;
    line-height: 1.4em;   
    cursor: pointer;
}

.port__btn :hover,
.port__btn :focus {
    background-color:var(--blue);
    color:var(--white)
}

/* Presenation Section */

.port-content__titles{
    font-weight: 700;
    font-size:18px;
    line-height: 1.2em;
}

.port-content__text  {
    color:var(--gray);
    font-size:16px;
    line-height:1.2em;
}











 




