@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap");

:root {
  --principal-text-color: #212121;
  --text-color: #757575;
  --text-active-color: #ffffff;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: var(--principal-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
.section {
  padding: 94px 0 94px 0;
}

/* Global Header */
.title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--principal-text-color);
  margin-right: 93px;
}

.global-header .Flogo {
  color: #2196f3;
}

.global-header a:hover,
.global-header a:focus,
.global-header a:active {
  color: #2196f3;
}
.footer-section a:hover,
.footer-section a:focus {
  color: #2196f3;
}

.navigation {
  display: flex;
  align-items: center;
}
.global-header .navigation a {
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--principal-text-color);
  text-decoration: none;
}

.navigation ul {
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--principal-text-color);
  text-decoration: none;
  display: flex;
  padding: 32px 0px 32px 0px;
}
.navigation ul li + li {
  margin-left: 50px;
}

.navigation a:hover,
.navigation a:focus {
  color: #2196f3;
}

.contact-info {
  display: flex;
  margin-left: 385px;
}

.contact-info a + a {
  margin-left: 40px;
}

.global-header .contact-info a {
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--text-color);
  text-decoration: none;
}

.contact-info a:hover,
.contact-info a:focus {
  color: #2196f3;
}

/* Hero Section */

.hero-section {
  background: #2f303a;
  padding: 200px 0;
}

.hero-heading {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--text-active-color);
  margin: 0 auto;
  margin-bottom: 30px;
}

.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--text-active-color);
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid #2196f3;
  padding: 10px 19px 10px 20px;
  margin-left: 500px;
}

/* section-sub-hero */
.section-sub-hero ul {
  display: flex;
  margin-left: 30px;
}

.section-sub-hero h3 {
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.section-sub-hero p {
  color: var(--text-color);
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  margin-right: 30px;
}

/* What We Do Section */
.section-images {
  display: flex;
}
.section-images li + li {
  margin-left: 30px;
}

.images-section h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.image1 {
  width: 370px;
  height: 294px;
  left: 215px;
  top: 1061px;

  background: url(.jpg);
  mix-blend-mode: normal;
}

.image2 {
  width: 370px;
  height: 294px;
  left: 615px;
  top: 1061px;

  background: url(.jpg);
}
.image3 {
  width: 370px;
  height: 294px;
  left: 1015px;
  top: 1061px;
  background: url(.jpg);
}

/* Our Team Section */
.team-list {
  display: flex;
}
.team-card {
  margin-top: 30px;
}
.team-job {
  margin-top: 10px;
  margin-bottom: 30px;
}

.our-team h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}
.our-team {
  background: #f5f4fa;
}

.our-team h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
}

.our-team p {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.team-list-item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-left: 30px;
}

/*Footer Section */

.footer-section .SLogo {
  color: #2196f3;
}
.footer-section .TLogo {
  color: #ffffff;
}

.footer-section {
  background: #2f303a;
  padding: 60px 0;
}

.map {
  font-style: normal;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
}

.contact-info-footer {
  line-height: 16px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;

  margin-top: 28px;
}
.contact-info-footer li {
  margin-bottom: 12px;
}

/* Portofoliu */
.portfolio {
  border: 1px solid #ececec;
}
.btn-section {
  padding-top: 94px;
  padding-bottom: 50px;
}

.portfolio-nav li {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.03em;
}
.portfolio-nav ul {
  display: flex;
  justify-content: center;
}
.portfolio-nav ul li + li {
  margin-left: 8px;
}
.btn {
  padding: 6px 22px;
}
.port-btn {
  border-radius: 4px;

  border: 1px solid #eeeeee;
}

.portfolio-nav button:hover,
.portfolio-nav button:focus,
.portfolio-nav button:active {
  background: #2196f3;
  color: #fff;
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-section p {
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.portfolio-section ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  padding-bottom: 94px;
}
.portfolio-section li {
  margin-top: 30px;
}

.portfolio-section h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
}
.portfolio-cards {
  box-sizing: border-box;
  border: 1px solid #eeeeee;
}
.portfolio-cards h3 {
  margin-top: 20px;
  margin-bottom: 4px;
  margin-left: 24px;
}
.portfolio-cards p {
  margin-bottom: 20px;
  margin-left: 24px;
}
